﻿@model IEnumerable<MegaCable.Entities.Cobranza>

@{
    ViewBag.Title = "Pagos";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo Pago", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mora)
        </th>
        <th>
            @Html.Label("DNI Abonado")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recibo.Contrato.Abonado.DNI)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id })
        </td>
    </tr>
}

</table>
