﻿<div align="center">
    <img src="~/ImgInicio/Mega.PNG" alt="Mountain View" style="width:1000px;height:500px;">
</div>

<div align="center">
    <a href='@Url.Action("Usuario")'>
        <img src='@Url.Content("~/ImgInicio/Ingresar.png")' alt="Mountain View" style="width:200px;height:70px;">
    </a>
</div>