﻿@{
    ViewBag.Title = "USecretaria";
}

<h3>@ViewBag.Message</h3>
<hr />
<h4>MENU MEGACABLENET</h4>
<hr />
<p>
    @Html.ActionLink("Registrar Contrato", "Index", "Contrato")
</p>
<p>
    @Html.ActionLink("Emitir Recibo", "Index", "Recibo")
</p>
<p>
    @Html.ActionLink("Registrar Pago", "Index", "Cobranza")
</p>
<hr />
<p>MEGACABLENet - EL MUNDO EN TUS OJOS </p>
