﻿@model IEnumerable<MegaCable.Entities.Recibo>

@{
    ViewBag.Title = "Recibos";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Emitir Recibo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEmision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contrato.Abonado.DNI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contrato.Plan.NombrePlan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contrato.Plan.ValorPlan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cobranza)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEmision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contrato.Abonado.DNI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contrato.Plan.NombrePlan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contrato.Plan.ValorPlan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cobranza)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id })
        </td>
    </tr>
}

</table>
