﻿@model MegaCable.Entities.Contrato

@{
    ViewBag.Title = "Editar";
}

<h3>Editar Contratos</h3>

@using (Html.BeginForm("Edit", "Contrato", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        @Html.Label("Ciudad: CAJAMARCA")
        <hr />
        <h4>Datos del Solicitante</h4>
        <div class="form-group">
            <p></p>
            &emsp;
            @Html.Label("Apellido Paterno:")
            @Html.EditorFor(model => model.Abonado.ApPaterno)
            @Html.ValidationMessageFor(model => model.Abonado.ApPaterno, "", new { @class = "text-danger" })
            &emsp;
            @Html.Label("Apellido Materno:")
            @Html.EditorFor(model => model.Abonado.ApMaterno)
            @Html.ValidationMessageFor(model => model.Abonado.ApMaterno, "", new { @class = "text-danger" })
            &emsp;
            @Html.Label("Nombres:")
            @Html.EditorFor(model => model.Abonado.Nombres)
            @Html.ValidationMessageFor(model => model.Abonado.Nombres, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            &emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;
            &emsp;
            @Html.Label("DNI:")
            @Html.EditorFor(model => model.Abonado.DNI)
            @Html.ValidationMessageFor(model => model.Abonado.DNI, "", new { @class = "text-danger" })
            &emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;|
            @Html.Label("Email:")
            @Html.EditorFor(model => model.Abonado.Email)
            @Html.ValidationMessageFor(model => model.Abonado.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            &emsp;&emsp;&emsp;
            &emsp;&emsp;
            @Html.Label("Telefono:")
            @Html.EditorFor(model => model.Abonado.Telefono)
            @Html.ValidationMessageFor(model => model.Abonado.Telefono, "", new { @class = "text-danger" })
            &emsp;&emsp;&emsp;
            &emsp;&emsp;&ensp;
            @Html.Label("Celular:")
            @Html.EditorFor(model => model.Abonado.Celular)
            @Html.ValidationMessageFor(model => model.Abonado.Celular, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            &emsp;&emsp;&emsp;
            &emsp;&ensp;
            @Html.Label("Direccion:")
            @Html.EditorFor(model => model.Abonado.Direccion)
            @Html.ValidationMessageFor(model => model.Abonado.Direccion, "", new { @class = "text-danger" })
            &emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;
            @Html.Label("Sector:")
            @Html.DropDownList("SectorId", ViewBag.Sector as SelectList, "Seleccione Sector")
            @Html.ValidationMessageFor(model => model.Sector.Id, "", new { @class = "text-danger" })
        </div>
        <hr />
        <h4>Requisitos</h4>
        <div class="form-group">
            @Html.Label("Copia de DNI:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CopiaDNI)
                    @Html.ValidationMessageFor(model => model.CopiaDNI, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Recibo Luz/Agua:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ReciboLuzAgua)
                    @Html.ValidationMessageFor(model => model.ReciboLuzAgua, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Observaciones:", new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Observaciones)
            @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
        </div>
        <hr />
        <h4>Producto</h4>
        <div class="form-group">
            &emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;
            &emsp;
            @Html.Label("Plan:")
            @Html.DropDownList("PlanId", ViewBag.Plan as SelectList, "Seleccione Plan")
            @Html.ValidationMessageFor(model => model.Plan.Id, "", new { @class = "text-danger" })
            &emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;
            @Html.Label("Velocidad Plan:")
            <p></p>
            &emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;
            &emsp;
            @Html.Label("Valor Plan:")
            &emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;
            @Html.Label("Instalacion:")
            &emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;
            @Html.Label("Pago Total:")
        </div>
        <hr />
        <h4>Facturacion</h4>
        <div class="form-group">
            &emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;
            &emsp;
            @Html.Label("Dia:")
            @Html.EditorFor(model => model.FechaPago)
            @Html.ValidationMessageFor(model => model.FechaPago, "", new { @class = "text-danger" })
        </div>
        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
