﻿@model IEnumerable<MegaCable.Entities.Contrato>

@{
    ViewBag.Title = "Contratos";
}

<h3>Lista Contratos</h3>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("DNI")
        </th>
        <th>
            @Html.Label("Abonado")
        </th>
        <th>
            @Html.Label("Celular")
        </th>
        <th>
            @Html.Label("Sector")
        </th>
        <th>
            @Html.Label("Plan")
        </th>
        <th>
            @Html.Label("Cuota Mensual")
        </th>
        <th>
            @Html.Label("Fecha Pago")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Abonado.DNI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abonado.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abonado.Celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sector.NombreSector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plan.NombrePlan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plan.ValorPlan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPago)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id })
        </td>
    </tr>
}

</table>
